.nav-bar {
  display: flex;
  background: #160505;
  color: #fff;
  width: 100%;
  
}

.ul-navbar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

li {
  margin: 5px;
  list-style: none;
}

html {
  padding:0;
  margin: 0;
}